*{
  margin: 0; 
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  place-items: start;
  color: white;
  background-color: #121212
}


section{
      background-color: #121212;
text-align: center;
color: white;
}

input{
    font-size: 15px;
border: 1px solid black;
}


ul{
    
padding-left: 21px;
color: #d4d4d4;
font-size: 20px;
}
button{
    font-size: 15px;
    margin: 1;
}

li{
    padding: 0;
     font-size: 20px;
margin: 0;
list-style: decimal;
color: rgb(255, 255, 255)
}
 
.del{
    border: 1px solid black;
    background-color: rgb(112, 108, 108);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
}

.add{
    border: 1px black solid;
    margin-left: 3px;
    border-radius: 2px;
    background-color: cadetblue;
cursor: pointer;

}


.add:hover{
    background-color: white;
}
